{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <body class="bg-light">

<div class="container" >
  <main>
    <div class="py-5 text-center">
      <h2>어떤 놀이인가요?</h2>
      <p class="lead">어떤 놀이인지 자세히 알려주세요. </p>
    </div>

    <form action="/content/make/" method="post" id="content-make" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="row g-5">
      <!-- <div class="col-md-7 col-lg-8"> -->
        <!-- <h4 class="py-5 text-center">어떤 놀이인가요?</h4> -->
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-12">
              <label for="firstName" class="form-label">콘텐츠 제목을 입력해 주세요</label>
              <input type="text" class="form-control" name="title_name" id="title_name" placeholder="" value="" required>
              <div class="invalid-feedback">
                콘텐츠 제목을 입력해 주세요.
              </div>
            </div>

            <div class="col-12">
              <label for="lastName" class="form-label">콘텐츠 소제목을 입력해 주세요</label>
              <textarea type="text" rows='3' class="form-control" name="sub_title_name" id="sub_title_name" placeholder="" value="" required></textarea>
              <div class="invalid-feedback">
                콘텐츠 소제목을 입력해 주세요.
              </div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">타이틀 이미지를 올려 주세요</label>
              <div class="input-group has-validation">
                <input type="file" name="title_image" id="title_image"  class="form-control" placeholder="Username" required>
              <div class="invalid-feedback">
                타이틀 이미지를 올려 주세요.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">콘텐츠 진행 날짜와 시간을 입력해 주세요 <span class="text-muted">(Optional)</span></label>
              <input type="datetime-local" name="content_date" id="content_date" class="form-control">
              <div class="invalid-feedback">
                콘텐츠 진행 날짜와 시간을 입력해 주세요.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">콘텐츠를 몇시간동안 진행하는지 입력해 주세요</label>
              <input type="number" name="duration" id="duration" class="form-control" placeholder="1" required>
              <div class="invalid-feedback">
                콘텐츠를 몇시간동안 진행하는지 입력해 주세요.
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">콘텐츠 진행 장소를 입력해 주세요</label>
              <input type="text" name="location" id="location" class="form-control" placeholder="강남구 도곡동" required>
              <div class="invalid-feedback">
                콘텐츠 진행 장소를 입력해 주세요.
              </div>
            </div>

            <div class="col-12">
                <label for="address2" class="form-label">콘텐츠 참가 인원 수를 입력해주세요</label>
                <input type="number" name="people_number" id="people_number" class="form-control" placeholder="3" required>
                <div class="invalid-feedback">
                    콘텐츠 참가 인원 수를 입력해주세요.
                </div>
            </div>
            <div>
                <label for="address2" class="form-label">콘텐츠 참가 가능한 아이의 나이를 입력해주세요</label>
                <div class="col-md-4">
                    최소나이(개월 수)
                    <input type="number" name="age_min" id="age_min" class="form-control" placeholder="20" required>
                </div>
                <div class="col-md-4">
                    최대나이(개월 수)
                    <input type="number" name="age_max" id="age_max" class="form-control" placeholder="40" required>
                </div>


                <div class="invalid-feedback">
                    콘텐츠 참가 가능한 아이의 나이를 입력해주세요.
                </div>
            </div>
            <div class="col-4">
                콘텐츠 가격을 입력해 주세요(단위 : 원)
                <input type="number" name="price" id="price" class="form-control" placeholder="30000" required>
            </div>
            <div id = "detail_text" form = "content-make">
            </div>

            <div class="btn btn-outline-success" onclick="count_up()">추가하기 버튼</div>
            <div class="btn btn-outline-danger" onclick="count_down()">삭제하기 버튼</div>


        </form>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="button" onclick="sendData()">놀이 만들기!</button>
        </form>
      <!-- </div> -->
    </div>
  </main>


</div>



  </body>



    <script>
        let detail_num = 0
        function count_up(){
            if (detail_num <= 10){
                let con_add = `
                <div id="${detail_num}">
                    <div class="col-12" >
                        <label for="username" class="form-label"> ${detail_num +1} 번째 상세 이미지 추가하기</label>
                        <div class="input-group has-validation">
                            <input type='file' name='detail_img_${detail_num}' id="detail_img_${detail_num}"  class="form-control" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="lastName" class="form-label"> ${detail_num +1} 번째 상세 설명을 입력해 주세요</label>
                        <textarea class='form-control input-lg' rows='3' type='text' name='detail_${detail_num}' id="detail_${detail_num}" placeholder="" value="" required></textarea>
                        <div class="invalid-feedback">
                            상세 설명을 입력해 주세요.
                        </div>
                    </div>
                </div>`;


                $("#detail_text").append(con_add);
                detail_num = detail_num + 1;
            }


        }

        function count_down(){
            if (detail_num > 0){

                detail_num = detail_num - 1;
                $(`#${detail_num}`).remove();
            }
        }
        function getCsrfToken(){
            return document.cookie
                .split(';')
                .find((item) => item.includes('csrftoken'))
                .split('=')[1];
        }

        async function sendData(){
            const detailLength = detail_num;
            const detailList = [];

            const bodyForm = new FormData();
            // add other elements
            bodyForm.append("detail_count", detailLength)
            bodyForm.append("title_name", document.querySelector(`input#title_name`).value)
            bodyForm.append("sub_title_name", document.querySelector(`textarea#sub_title_name`).value)
            bodyForm.append("title_image", document.querySelector(`input#title_image`).files[0])
            bodyForm.append("content_date", document.querySelector(`input#content_date`).value)
            bodyForm.append("duration", document.querySelector(`input#duration`).value)
            bodyForm.append("location", document.querySelector(`input#location`).value)
            bodyForm.append("people_number", document.querySelector(`input#people_number`).value)
            bodyForm.append("age_min", document.querySelector(`input#age_min`).value)
            bodyForm.append("age_max", document.querySelector(`input#age_max`).value)
            bodyForm.append("price", document.querySelector(`input#price`).value)


            for (let i = 0; i < detailLength; i++) {
                bodyForm.append(`detail_${i}`, document.querySelector(`textarea#detail_${i}`).value);
                bodyForm.append(`detail_img_${i}`, document.querySelector(`input#detail_img_${i}`).files[0]);
            }

            let response = await fetch("/content/make/", {
                method: "POST",
                headers: {
                    // "Content-Type": "multipart/form-data",
                    "X-CSRFToken": getCsrfToken(),
                },
                body: bodyForm,
            });

            if(response.ok) {
                await alert("성공");
                window.location.href = response.url;
            } else {
                let responseBody = await response.json()
                alert(responseBody["error"]);
            }
        }

    </script>


</body>
{% endblock %} 