{% extends "base.html" %}

 {% block title %}content-page{% endblock %}

    {% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% endblock %}
  {% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message.message }}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}


<br/>
<br/>
<div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-7" style="">
                        {% if new_content.title_img %}
                            <img class="card-img-top mb-5 mb-md-0" src="{{ new_content.title_img.url }}" style="border: 3px ridge grey; height: 20rem; object-fit: scale-down;" alt="...">
                        {% endif %}
                    </div>
                    <div class="col-md-5">

                        <h3 class="display-5 fw-bolder">{{ new_content.title_name }}</h3>
                        <div class="fs-5 mb-3">
                            <h4>{{ new_content.sub_title_name }}</h4>
                        </div>

                        <div class ="detail"> 진행일자 : {{ new_content.content_date }} </div>
                        <div class ="detail"> 진행 시간 : {{ new_content.duration }} </div>
                        <div class ="detail"> 장소 : {{ new_content.location }} </div>
                        <div class ="detail"> 인원 : {{ new_content.people_number }} </div>
                        <div class ="detail"> 나이 : {{ new_content.age_min }} ~ {{ new_content.age_max }} </div>
                        <div class ="detail"> 가격 : {{ new_content.price }} </div>


                        <div class="d-flex">

                            {% if host_flag %}
                                <h3>호스트 입니다 </h3>
                            {% else %}
                            {% if reserves_len >= new_content.people_number %}
                            가득참
                            {% else %}
                            {{reserves_len}}
                            {{new_content.people_number}}
                            {% if reserve_available %}
                            <a href="{% url 'Content:reserve' new_content.id %}"><button style="margin-top: 10px;" class="btn btn-outline-dark flex-shrink-0 reserve" type="button" name="action">결제하기</button></a>
                            {% else %}
                            <h3>이미 결제함 </h3>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

<hr/>

    <h3> 상세 설명</h3>
<br/>
<br/>
<div >

    {% for item in new_detail_content %}
    {% if item.detail_img %}
    <div style ="text-align : center;">
        <img src="{{ item.detail_img.url }}" style="width:50%" />
    </div>
    <br/>
    {% endif %}

    <br/>
    <div style ="text-align : center;"> {{ item.detail }} </div>
    {% endfor %}
    <br/>
    <br/>
</div>


    
<br/>
<br/>
{% if host_flag %}

    <h3>호스트 입니다 </h3>
{% else %}
{% if reserves_len >= new_content.people_number %}
가득참
{% else %}
{{reserves_len}}
{{new_content.people_number}}
{% if reserve_available %}
<a href="{% url 'Content:reserve' new_content.id %}"><button class="button waves-effect waves-light" name="action">결제하기</button></a>
{% else %}
<h3>이미 결제함 </h3>
{% endif %}
{% endif %}
{% endif %}


<hr/>
<h3>문의하기</h3>

<div>

    <table border='1' class='faqTable table table-hover text-center'>
        <tr>
            <td>번호</td>
            <td>질문</td>
            <td>작성자</td>
            <td>작성일</td>
        </tr>
        <tbody class="faqTbody">
            {% for faq in faq_list %}
            <tr id="tr_{{ forloop.revcounter }}">
                <td>{{ forloop.revcounter }}</td>
                <td>{{ faq.0.question }}</td>
                <td>{{ faq.0.questioner }}</td>
                <td>{{ faq.0.created_at }}</td>
                <td id = "faq.0.id"><button id="{{ forloop.revcounter }}" onclick="faq_answer(this.id, {{ faq.0.id }})" class="btnAnswer">답변하기</button></td>
            </tr>
            {% if faq.1 %}
            <tr>
                <td>답변</td>
                <td>{{faq.1.answer}}</td>
                <td>주인장</td>
                <td>{{faq.1.created_at}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        
    </table>

</div>

<div class="input-group">
  <span class="input-group-text">문의하기</span>
  <textarea class=" faqQuestion form-control " aria-label="With textarea"></textarea>



<!--    <textarea class='faqQuestion' placeholder="문의"></textarea>-->
    <input type="button" class="btnSend" value="전송">
</div>

<br>




<script>
    let btnSend = document.querySelector('.btnSend');


    btnSend.addEventListener('click', e=>{
        console.log('btn')
        let content = document.querySelector('.faqQuestion').value;

        let param ={
            'question' : content,
            'faq_content' : '{{new_content.id}}',
            'questioner' : '{{ user.id }}',
        }

        $.ajax({
            url : '{% url 'faq_question' %}',
            type: 'POST',
            headers: {
                'X-CSRFTOKEN' : "{{ csrf_token }}",
            },
            data : JSON.stringify(param),
            success:function(data){
                console.log(data);

                let faqTable = document.querySelector('.faqTbody');
                let newTr = document.createElement('tr');
                let str = `
                    <td>${ data.question }</td>
                    <td>${ data.questioner }</td>
                    <td>${ data.created_t }</td>
                    `;
                newTr.innerHTML = str;
                faqTable.prepend(newTr);

            },
            error: function(){
                alert('문의 남기기에 에러남');
            }
        
        })
        $('.faqQuestion').val('');
        window.location.reload()



    })
    let target_question_id
    var _real_id
    function faq_answer(reply_id, real_id){
        console.log(reply_id);
        target_question_id = reply_id;
        let faq_question = document.querySelector('#tr_'+target_question_id);
        console.log(faq_question)
        let tmp_tr = document.createElement('tr');
        let ass = `
            <td></td>
            <td colspan="3"><textarea style="width:100%"" class='faqAnswer' placeholder="답변하기"></textarea></td>
            <td><input type="button" class="faqAnswerSend" value="전송"></td>
            `;
        tmp_tr.innerHTML = ass;
        faq_question.after(tmp_tr);
        _real_id = real_id
        console.log(ass)
        console.log(real_id)
    };

    

    $('.faqAnswerSend').live('click', '.dynamicElement', function(){
        console.log('asdfasdfasd');
        console.log(_real_id)
        let content = document.querySelector('.faqAnswer').value;
        let faq_id = document.querySelector('.button');
        console.log(faq_id)
        console.log(content)
        let param ={
            'answer' : content,
            'question_id' : _real_id,
            'answerer' : '{{ user.id }}',
        }
        $.ajax({
            url : '{% url 'faq_answer' %}',
            type: 'POST',
            headers: {
                'X-CSRFTOKEN' : "{{ csrf_token }}",
            },
            data : JSON.stringify(param),
            success:function(data){
                console.log('ssibval');
                console.log(data);
                console.log(target_question_id);

                // let faq_question = document.querySelector('#tr_'+target_question_id);
                // console.log(faq_question)
                // let tmp_tr = document.createElement('tr');
                // let ass = `
                //     <td>${ data.answer }</td>
                //     <td>${ data.answerer }</td>
                //     <td>${ data.created_at }</td>
                //     `;
                // tmp_tr.innerHTML = ass;
                // faq_question.after(tmp_tr);

            },
            error: function(){
                alert('답변 남기기에 에러남');
            }
        
        })
        // to-do : erase tr tags
        window.location.reload()
    });


    

</script>

<br/>
<br/>

{% endblock %}
