{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block content %}


<body class="main-bg" style="background-image: url({% static 'baby_bck.jpeg' %}); background-position: center; background-repeat: no-repeat; background-size: cover;">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>

<body style="height: 80rem; display: inline-block;">
    <div class="super_pay">
      <div class="inner_pay">
        죄송합니다 <br>
      아직 결제 서비스가 이루어지지 않고 있습니다<br>
      예약과 관련해서는 <br>
      저희에게 이메일로 문의 주시면 감사합니다
      <br>
      이용에 불편을 드려 죄송합니다<br>
      </div>
      
    </div>

    
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<style>

  .super_pay{
    text-align: center;
    height: 45rem;
    font-size: 3rem;
    font-weight: 100;
    padding-top: 10rem;
  }
  .inner_pay{
    text-align: center;
    background-color: rgba(253, 244, 215, 0.9);
    width: 55rem;
    margin-left: 20rem;
  }
</style>


{% endblock %} 