body {
    font-family: 'Gowun Dodum', sans-serif; 
}

td {
    vertical-align: middle;
}

.reserve{
padding-top : 5rem !important;
}

.detail {
margin-top : 5px;
}

.sub{
margin-bottom : 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }